
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr auto;
    gap:5px;
}
#side{
    
    grid-row: 1 / span 2;
    background-color: beige;
}
#top{
   grid-row: 1/2;
    background-color: lightblue;
    grid-column: 2/3;

    display:flex;
    flex-direction: row;
   
}
#top-bar{


    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap:10px;
}



#selection-bar{
   
   display: flex;
   flex-direction:row;
   justify-content: space-evenly;
    background-color:#eaf3fc

}
#main-content{
   grid-row: 2/3;
    background-color: lightgray;
    grid-column: 2/3;
}

/*layout of the top bar*/

