
*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#container{
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: auto 1fr auto;
    
}
#side{
    
    grid-row: 1 / span 2;
    background-color: beige;
}

.top {
    grid-row: 1/2;
    background-color: white;
    grid-column: 2/3;
    height:150px;  
    margin-bottom: 20px;
   
}
.top-bar {
  display: grid;
  grid-template-columns: 80px 1fr 150px;
  align-items: center;
  padding: 16px 40px;
  margin-top: 25px;
  background: white;
  gap:20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.logo img {
  width: 48px;
  height: 48px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Title */
.header-content h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

/* Meta row */
.meta {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #666;
}

/* Actions row */
.actions {
  display: flex;
  gap: 10px;
}

.actions .share-button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #faf8f8;
  background: white;
  cursor: pointer;
  width:120px;
  height:30px;
  margin-top: 5px;
  color:#3faee0;
}

.actions .menu-button {
  padding: 6px 12px;
  border-radius: 100px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  text-align: center;
  padding-bottom: 20px;
    width:40px;
    height:40px;
}

.actions .menu-button:hover {
    background: #e0e0e0;
}
.actions .share-button:hover {
    background: #3faee0;
    color: white;
}

.actions .primary {
  background: #3faee0;
  color: white;
  border: none;
  border-radius:20px;
  text-align: center;
  width: 160px;
  height: 40px;

}

.actions .primary:hover {
  background: #3399cc;
}

/* ===== MASTERY ===== */
.mastery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.ring {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.mastery p {
  margin: 0;
  font-size: 12px;
  color: #666;
}


#selection-bar{
   
   display: flex;
  gap: 24px;
  padding: 12px 24px;
  justify-content: space-evenly;
    background-color:#eaf3fc

}

#selection-bar a{
    text-decoration: none;
    color:rgb(62, 60, 60);
}
#main-content{
   grid-row: 2/3;
    background-color: lightgray;
    grid-column: 2/3;
}

/*layout of the top bar*/

