body{
  background:#f7f7f7;
  font-family:Arial;
}

.card{
  max-width:400px;
  background:#fff;
  margin:70px auto;
  padding:35px;
  border-radius:10px;
}

label{
  display:block;
  margin-top:15px;
  color:#555;
}

input{
  width:100%;
  padding:12px;
  margin-top:6px;
  border-radius:5px;
  border:1px solid #ccc;
}

button{
  width:100%;
  margin-top:25px;
  padding:12px;
  background:#ccc;
  border:none;
  color:white;
  border-radius:6px;
}

button.active{
  background:#ff914d;
}

a{
  display:block;
  margin-top:15px;
  text-align:center;
  color:#1a73e8;
  text-decoration:none;
}

@media screen and(max-width: 790px) {
  body {
    padding: 15px;
  }

  .card {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%; /* full width on mobile */
    border-radius: 0; /* flush edges for mobile */
  }

  h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  input {
    padding: 10px;
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }

  a {
    font-size: 0.9rem;
  }
}

