body{
  background:#f6f6f6;
  font-family:Arial;
}

.box{
  max-width:350px;
  margin:100px auto;
  background:white;
  padding:40px;
  text-align:center;
  border-radius:10px;
}

input{
  width:100%;
  padding:12px;
  margin:20px 0;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  width:100%;
  padding:12px;
  background:#ccc;
  color:white;
  border:none;
  border-radius:6px;
}

button.active{
  background:#ff914d;
}

a{
  text-decoration:none;
  color:#1a73e8;
}

@media screen and (max-width: 790px) {
  body {
    padding: 15px;
  }

  .box {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%; /* full width on mobile */
  }

  h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  input {
    padding: 10px;
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }
}

